.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

li
{
  list-style: none;
}

ul
{
  padding: 0px;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: left;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar ul li {
  border: 1px solid white;
  border-radius: 20px;
  width: auto;
  padding: 15px;
  margin-bottom: 5px;
}

.sidebar ul li:hover {
  border: 1px solid lightcoral;
  background-color: rgb(254, 224, 224);
  cursor: pointer;
}

.main {
  margin-left: 240px;
  padding: 20px;
}

.selected_li {
  background-color: rgb(245, 193, 193);
}

.add_bar {
  width: 100%;
}

.add_bar {
  text-align: left;
}

.half_width {
  width: 50%;
}